html
  body
    p Hello #{name}
    br
    p You requested to reset your password for email #{email}
    p Reset link: #{resetLink}
    br
    p Support Email: #{supportEmail}
    p Visit the dashboard: #{clientUrl}
    br
    p By:#{appName}